body{
	margin:0;
	display: block;
	position: relative;
}
span.error-msg{
  clear: both;
  display: block;
  padding: 50px 24px;
  font-size: 16px;
  color:maroon;
}
span.error-msg i{
  padding-right: 10px;
}